<div class="top_bg_image">
  {{ content.field_page_header_image_home }}
</div>
<div id="top" class="top_section section">
  <div{{ attributes.addClass('top_section_text') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {{ content.body }}
    {{ metadata }}
  </div>
</div>
