{{ page.header }}
<main{{ attributes }}
  {{ page.help }}
  <a id="main-content" rel="nofollow" tabindex="-1"></a>
  {{ page.content }}
  {{ page.content_bottom }}
  <a href="#top" rel="nofollow" class="go_up_btn">
    <i class="fas fa-angle-up"></i>
  </a>
</main>
{{ page.footer }}
